Uses at least one recursive method, i.e. one that calls itself. Requirements.java line 10
Calls a recursive method with more than one base case. Requirements.java line 10
Recursively traverses a string. Requirements.java line 11
Recursively traverses an array. Requirements.java line 13
Recursively traverses an ArrayList. Requirements.java line 15
Sorts an array using merge sort. Requirements.java line 19
Sorts an ArrayList using merge sort. Requirements.java line 24
Uses binary search. Requirements.java line 28

